*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: aliceblue;
}

.row {
    display: inline;
    margin: 0;
}

.jumbotron {
    text-align: center;
    background-color: teal;
    margin-bottom: 75px;
}

.input-group {
    margin: 0px;
   
}
.time {
    justify-content: center;
    font: 20px bold;
    padding: 30px 0px 10px 0px;
}
.form-control {
    height: 85px;
}
.custom-file {
 height: 85px;
}

.btn-time{
    font-size: 18px;
 
}
.btn {
    margin: 0px;
    width: 100px;
}

.form-control-lg{
    height: 1000px!important;
    padding: 0;
}
.btn-lock {
    margin: 0px;
    background-color: rgb(128, 55, 0);
    border-bottom: none;
    border-left: none;
    color: whitesmoke;
} 

.past {
    background-color: rgb(128, 55, 0);
}

.future {
    background-color: gray;
}
